/* 
.containerslide img{
    width: 100%;
    margin-top: -15px;
}

.left{
    position: relative;
    top: -250px;
    padding: 19px;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0px 3px 3px 0px;
}
.right{
    position: relative;
    top: -250px;
    padding: 19px;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 3px 0px 0px 3px;
   
    
}
.left:hover, .right:hover{
    background-color: rgba(115, 115, 115, 0.8);
}
#mySlide{
    width: 100%;
}
article{
    height: 195px;
    padding: 30px;
    margin-left: -35px;
} */